# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo/backend

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |  # use pipenv to install dependencies
            sudo pip install pipenv
            pipenv install

      - run:
          name: install pytest
          command: |
            pipenv install pytest
      # run tests!
      # https://pytest.org
      
      - run:
          name: run tests
          command: |
            pipenv run -- python -m pytest

      - store_artifacts:
          path: test-reports
          destination: test-reports
          
