.basketAndMenuItems{
    
}
.FilterModalButton{
    background-color: white !important;
    color: rgb(31, 112, 233)!important;
    border: dashed orange !important;
    margin-left: 5px !important;
}
.FilterModalButton:active{
    border: dashed rgb(31, 112, 233) !important;
    color: black !important;
}
.FilterModalButton:hover{
    border: dashed rgb(31, 112, 233) !important;
    color: black !important;
}

.callWaiterModalTrigger{
    border: dashed orange !important;
    background-color: white !important;
    color: rgb(31, 112, 233) !important;
}
.callWaiterModalTrigger:active{
    border: dashed rgb(31, 112, 233) !important;
    color: black !important;
}
.callWaiterModalTrigger:hover{
    border: dashed rgb(31, 112, 233) !important;
    color: black !important;
}

#closeTableAssistanceNoticeBtn{
    width: 150px !important;
    color: white !important;
    background-color: rgb(31, 112, 233) !important;
    height: 40px !important;
    padding: 0px !important;
    margin-top: 10px !important;

}

.cardWrapper{
    border: 0px !important;
    outline: 0px !important;
}
.ui.segment.active.tab{
    outline: none !important;
    padding: 0px !important;
    box-shadow: none !important;
    border: 0px !important;
    margin: 0px !important;
    width: 75%;
    display: grid !important;
    grid-template-columns: auto auto auto !important;
}
.basketSide{
    margin-top: 7%;
    float: right;
    background-color: white;
    width: 20%; 
}

.basketItems h1{
    text-align: center;
}
.basketItems p{
    text-align: center;
}
.viewBasket{
    width: 100%;
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
}
#yourOrdersBtn{
    margin-top: 20px !important;
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
    display: block !important;
	margin-left: auto !important;
    margin-right: auto !important;
}
#returnToMenuFromOrder{
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
    height: 50px !important;
    padding: 0 !important;
    width: 200px !important;
}
#returnToMenuFromOrder:hover{
    background-color: rgb(31, 112, 233) !important;
    color: black !important;
}
#returnToMenuFromOrder:active{
    background-color: white !important;
    color: black !important;
    border: solid rgb(31, 112, 233) !important;
}

.singleBasketItem{
    width: 100%;
}
.basketItemIcon{
    float: left;
}
.removeBasketItemBtn{
    float: right;
    background-color: #D04236 !important;
    color: white !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 30px !important;
}

.singleBasketListHeadAndDes {
    float: left;
}

.listOfItems{
    
}

#kitchenOrderButtons {
    text-align: center !important;
    display: table !important;
    margin-left: auto;
    margin-right: auto;
}


.kitchenTimeButton {
    /*To fill width*/
    height: 3.5em !important;
    display: inline-block !important;
    flex: 1 !important;
}

#kitchenConfirmButton {
    margin-top: 4px !important;
    margin-bottom: 10px !important;
    background-color: green !important;
    color: white !important;
    width: 100% !important;
    display: table-cell !important;
    height: 3.5em !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;

    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;

    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;

    /*Transition*/
    -webkit-transition: All 0.3s ease!important;
    -moz-transition: All 0.3s ease!important;
    -o-transition: All 0.3s ease!important;
    transition: All 0.3s ease!important;

    /*To fill width*/
    flex-grow: 1 !important;
}

#kitchenConfirmButton:hover {
    background-color: darkgreen !important;
}

.topnav {
    
    background: url(mexicanImagesBackground2.jpg) repeat 0 0;
	
    overflow: hidden;
    height: 10.5em;
    
   
}

.ourmenu .ourmenuheading{
    font-family: 'Segoe UI', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    left: 50%;
    top: 55%;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 6px 6px;
	text-decoration: none;
	font-size: 17px;
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
	border: 1px solid black;
	border-bottom: 0;
}

.topnav a:hover {
	background-color: #111;
}

.topnav a.active {
    Background-color: black;
}

.ui.bottom.attached.segment.active.tab {
    background-color: transparent !important;
    border: 0px !important;
}

.ui.card.menuCard {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 45%;
    
}
.dishImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addToBasket{
    background-color: green !important;
    color: white !important;
    
}
.infoIconButton{
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
}

.call{
    width: 60% !important;
    height: 50px !important;
    display: block !important; 
    margin-right: auto !important;
    margin-left: auto !important; 
    color: white !important;
    background-Color: green !important; 
    margin-bottom: 2% !important; 
    margin-top: 2% !important;
}
.tableNumberBtnCustomer{
    width: 50px !important;
    height: 50px !important;
    margin: 10px !important;
    border: dashed rgb(31, 112, 233) !important;
    text-align: center !important;
    padding: 0 !important;
    
}
.selectTableWarning{
    text-align: center;
    color: red;
}

.ui.fluid.vertical.tabular.menu {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    border: 0px !important;
    background-color: white !important;
}

.ui.fluid.vertical.tabular.menu a.active {
    background-color: green !important;

    color: white !important;
}
.ui.text.menu{
    font-size: 2em;
    margin-top: 0 !important;
    margin-bottom: 1% !important;
}


.ui.text.menu a{
    
}
.ui.text.menu a.active{
    color: rgb(31, 112, 233) !important;
}
.ui.text.menu a:hover{
    color: rgb(31, 112, 233) !important;
}


.ui.scrolling.modal.transition.visible.active {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
}

.basketLabel {
    color: black !important;
    background-color: lawngreen !important;
}

#orderFormTitle {
    color: dimgrey !important;
}

#orderDishName {
    font-size: medium !important;
    font-weight: 900 !important;
}

#removeItemButton {
    background-color: #f10000 !important;
    margin: 4px !important;

    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;

    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;

    /*Transition*/
    -webkit-transition: All 0.3s ease!important;
    -moz-transition: All 0.3s ease!important;
    -o-transition: All 0.3s ease!important;
    transition: All 0.3s ease!important;
}

#removeItemButton:hover {
    background-color: #d80000 !important;
}

#ConfirmButton {
    margin-bottom: 10px !important;
    background-color: green !important;
    color: white !important;

    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;

    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;

    /*Transition*/
    -webkit-transition: All 0.3s ease!important;
    -moz-transition: All 0.3s ease!important;
    -o-transition: All 0.3s ease!important;
    transition: All 0.3s ease!important;
}

#ConfirmButton:hover {
    background-color: darkgreen !important;
}

.extra.content {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
    font-size: 18px !important;
}

.header.dishName {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
}

.description.dishInfo {
    font-family: 'Nobile', Helvetica, Arial, sans-serif !important;
}

div ListCards {
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Georgia, Times, serif;
}
p, div {
	font-family: Helvetica, Arial, sans-serif;
}

#menuHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px dimgrey;
}

img.logo {
    display: block;
	margin-left: auto;
    margin-right: auto;
}

body {
    
    margin: 0;
}
.kitchenPageold{
    color: white;
    height: 100%;
    width: 100%;
    background-color: black;
}
.kitchenCard{
    width: 90% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-bottom: 10% !important;
}
.waiterConfirmedSide{
    width: 30%;
    margin: 0;
    float: left;


}

.toBeCompletedSide{
    width: 30%;
    float: right;
    margin: 0;
    
}

.toBeDeliveredSide {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
}

.kitchenOrderCardsContainer{
    width: 100%;
    background-color: black;
}
.waiterConfirmBtn{
    background-color: green !important;
    color: white !important;
}
.waiterCancelBtn{
    background-color: #D04236 !important;
    color: white !important;
}
.tableNumberBtnWaiter{
    border: dashed rgb(31, 112, 233) !important;  
    width: 50px !important;
    height: 50px !important;
    margin: 10px !important;
    padding: 0 !important;
}

.chooseTableActions{
    margin-left: 1% !important;
    margin-right: 1% !important; 
    margin-bottom: 1% !important; 
    width: 200px !important;
    height: 50px !important;
    padding: 0 !important;
}

.loginHomeContainer{
    text-align: center !important;
    border: 1px solid black !important;
    width: 500px !important;
    height: 250px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important; 
    right: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    display: inline-block !important;
}