.basketAndMenuItems{
    
}
.yourOrdersBtnDiv{
    
    float: right;
}
.cardWrapper{
    border: 0px !important;
    outline: 0px !important;
    background-color: rgb(255, 0, 0)52, 252, 252);
}
.ui.segment.active.tab{
    outline: none !important;
    padding: 0px !important;
    shadow: none !important;
    border: 0px !important;
    margin: 0px !important;
    width: 75%;
    display: grid !important;
    grid-template-columns: auto auto auto !important;
}

.basketItems {
    padding-top: 7.8em;
    float: right;
    background-color: white;
    width: 20%;   
}
.basketItems h1{
    text-align: right;
}
.viewBasket{
    float: right;
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
}

.singleBasketItem{
    width: 280px;
}

.singleBasketListHeadAndDes {
    float: left;
}
.addToBasket{
    background-color: green !important;
    color: white !important;
}
.infoIconButton{
    background-color: rgb(31, 112, 233) !important;
    color: white !important;
}
.listOfItems{
    float: right;
}
.basketItemIcon{
    float: left;
}
.removeBasketItemBtn{
    float: right;
    background-color: #D04236!important;
    color: white !important;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    font-size: 30px !important;
}

.topnav {
    
    background: url(mexicanImagesBackground2.jpg) repeat 0 0;
	
	overflow: hidden;
    height: 10.5em;
    
   
}

.ourmenu .ourmenuheading{
    font-family: 'Segoe UI', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    left: 50%;
    top: 55%;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 6px 6px;
	text-decoration: none;
	font-size: 17px;
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
	border: 1px solid black;
	border-bottom: 0;
}

.topnav a:hover {
	background-color: #111;
}

.topnav a.active {
    Background-color: black;
}

.ui.bottom.attached.segment.active.tab {
    background-color: transparent !important;
    border: 0px !important;
}

.ui.card.menuCard {
    margin-left: 0.5%;
    margin-right: 0.5%;
    
}

.ui.fluid.vertical.tabular.menu {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    border: 0px !important;
    background-color: white !important;
}

.ui.fluid.vertical.tabular.menu a.active {
    background-color: green !important;

    color: white !important;
}
.ui.text.menu{
    font-size: 2em;
    
}


.ui.text.menu a{
    
}
.ui.text.menu a.active{
    color: rgb(31, 112, 233) !important;
}
.ui.text.menu a:hover{
    color: rgb(31, 112, 233) !important;
}


.extra.content {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
    font-size: 18px !important;
}

.header.dishName {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
}

.description.dishInfo {
    font-family: 'Nobile', Helvetica, Arial, sans-serif !important;
}

div ListCards {
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Georgia, Times, serif;
}
p, div {
	font-family: Helvetica, Arial, sans-serif;
}

#menuHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px dimgrey;
}

img.logo {
    display: block;
	margin-left: auto;
    margin-right: auto;
}

body {
    
    margin: 0;
}