.topnav {
	background-color: #D04236;
	overflow: hidden;
    height: 10.5em
}

.ourmenu .ourmenuheading{
    font-family: 'Segoe UI', Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    left: 50%;
    top: 55%;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 6px 6px;
	text-decoration: none;
	font-size: 17px;
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
	border: 1px solid black;
	border-bottom: 0;
}

.topnav a:hover {
	background-color: #111;
}

.topnav a.active {
	Background-color: black;
}

.ui.bottom.attached.segment.active.tab {
    background-color: transparent !important;
    border: none !important;
}

.ui.card.menuCard {
    margin-left: auto !important;
    margin-right: auto !important;
}

.ui.fluid.vertical.tabular.menu {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    border: none !important;
    background-color: antiquewhite !important;
}

.ui.fluid.vertical.tabular.menu a.active {
    background-color: #D04236 !important;

    color: white !important;
}

.ui.scrolling.modal.transition.visible.active {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
}

#ConfirmButton {
    margin-bottom: 10px !important;
    background-color: green !important;
    color: white !important;
    text-shadow: 2px 2px 5px black !important;

    /*Gradient*/
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2))!important;

    /*Shadow*/
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2)!important;

    /*Transition*/
    -webkit-transition: All 0.3s ease!important;
    -moz-transition: All 0.3s ease!important;
    -o-transition: All 0.3s ease!important;
    -ms-transition: All 03s ease!important;
    transition: All 0.3s ease!important;
}

#ConfirmButton:hover {
    background-color: darkgreen !important;
}

.extra.content {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
    font-size: 18px !important;
}

.header.dishName {
    font-family: 'Segoe UI', Georgia, Times, serif !important;
    color: black !important;
}

.description.dishInfo {
    font-family: 'Nobile', Helvetica, Arial, sans-serif !important;
}

div ListCards {
	display: inline;
	font-family: 'Segoe UI', Georgia, Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI', Georgia, Times, serif;
}
p, div {
	font-family: Helvetica, Arial, sans-serif;
}

#menuHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px dimgrey;
}

img.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body {
    background: url(leaves.png) repeat 0 0;
}